USE [master]
GO
/****** Object:  Database [wujing]    Script Date: 2016/8/10 15:08:46 ******/
CREATE DATABASE [wujing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wujing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wujing.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wujing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\wujing_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wujing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wujing]
GO
/****** Object:  Table [dbo].[company]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[companyName] [varchar](50) NOT NULL,
	[companyNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[companyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[connect1]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connect1](
	[imageNumber] [nvarchar](50) NOT NULL,
	[productType] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[connect2]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connect2](
	[imageNumber] [nvarchar](50) NOT NULL,
	[companyNumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[connect3]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connect3](
	[imageNumber] [nvarchar](50) NOT NULL,
	[departmentNumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[department]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[departmentNumber] [nvarchar](50) NOT NULL,
	[departmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[departmentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[image]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[image](
	[imageNumber] [nvarchar](50) NOT NULL,
	[partsName] [varchar](50) NOT NULL,
	[path] [varchar](50) NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[image] [image] NULL,
 CONSTRAINT [PK_image] PRIMARY KEY CLUSTERED 
(
	[imageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[notices]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notices](
	[noticeId] [int] IDENTITY(1,1) NOT NULL,
	[noticeType] [nvarchar](50) NOT NULL,
	[noticeDepartment] [nvarchar](50) NOT NULL,
	[noticeContent] [varchar](max) NOT NULL,
	[noticeTime] [datetime] NOT NULL,
	[noticeFlag] [bit] NOT NULL,
 CONSTRAINT [PK_notices] PRIMARY KEY CLUSTERED 
(
	[noticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[productType] [nvarchar](50) NOT NULL,
	[productName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[productType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[account] [nvarchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[permission] [nvarchar](50) NULL,
	[departmentNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[visitLog]    Script Date: 2016/8/10 15:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[visitLog](
	[account] [nvarchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[time] [nvarchar](50) NOT NULL,
	[imageNumber] [nvarchar](50) NULL,
	[productType] [nvarchar](50) NULL,
 CONSTRAINT [PK_visitLog] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[company] ([companyName], [companyNumber]) VALUES (N'武精', N'1')
INSERT [dbo].[company] ([companyName], [companyNumber]) VALUES (N'机器', N'2')
INSERT [dbo].[connect1] ([imageNumber], [productType]) VALUES (N'1002', N'10X')
INSERT [dbo].[connect1] ([imageNumber], [productType]) VALUES (N'1001', N'2L')
INSERT [dbo].[connect2] ([imageNumber], [companyNumber]) VALUES (N'1001', N'1')
INSERT [dbo].[connect2] ([imageNumber], [companyNumber]) VALUES (N'1002', N'2')
INSERT [dbo].[connect3] ([imageNumber], [departmentNumber]) VALUES (N'1001', N'10')
INSERT [dbo].[connect3] ([imageNumber], [departmentNumber]) VALUES (N'1002', N'12')
INSERT [dbo].[connect3] ([imageNumber], [departmentNumber]) VALUES (N'1002', N'11')
INSERT [dbo].[department] ([departmentNumber], [departmentName]) VALUES (N'10', N'abc')
INSERT [dbo].[department] ([departmentNumber], [departmentName]) VALUES (N'11', N'bcd')
INSERT [dbo].[department] ([departmentNumber], [departmentName]) VALUES (N'12', N'cde')
SET IDENTITY_INSERT [dbo].[notices] ON 

INSERT [dbo].[notices] ([noticeId], [noticeType], [noticeDepartment], [noticeContent], [noticeTime], [noticeFlag]) VALUES (2, N'notice', N'11', N'今天有信息', CAST(0x0000A65C00000000 AS DateTime), 1)
INSERT [dbo].[notices] ([noticeId], [noticeType], [noticeDepartment], [noticeContent], [noticeTime], [noticeFlag]) VALUES (3, N'announce', N'00', N'今天是周六', CAST(0x0000A65C00000000 AS DateTime), 0)
INSERT [dbo].[notices] ([noticeId], [noticeType], [noticeDepartment], [noticeContent], [noticeTime], [noticeFlag]) VALUES (4, N'announce', N'00', N'今天是周五', CAST(0x0000A65C00000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[notices] OFF
INSERT [dbo].[product] ([productType], [productName]) VALUES (N'10X', N'phone')
INSERT [dbo].[product] ([productType], [productName]) VALUES (N'2L', N'computer')
INSERT [dbo].[users] ([account], [name], [password], [permission], [departmentNumber]) VALUES (N'admin1', N'dddd', N'admin', N'admin', N'11        ')
INSERT [dbo].[users] ([account], [name], [password], [permission], [departmentNumber]) VALUES (N'looker', N'bbbb', N'looker', N'look', N'11        ')
INSERT [dbo].[users] ([account], [name], [password], [permission], [departmentNumber]) VALUES (N'root', N'cccc', N'root', N'superAdmin', N'11        ')
INSERT [dbo].[visitLog] ([account], [name], [time], [imageNumber], [productType]) VALUES (N'admin', N'aaaa', N'2016/8/9 17:01:12', N'10X', N'1002')
USE [master]
GO
